// Stylesheet language; not for output

===========================================
Created by: MD. Naiem Islam Nahid
File Type: SCSS
Magic Number: 6535
Time: 2024-11-07T05:03:43.750133
Date: Thursday, 07 November 2024, 2024th century
Emoji: None
===========================================
